@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-zinc-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-zinc-100;
}

a {
  @apply inline-flex items-center font-medium text-indigo-500 underline 
  decoration-indigo-600 decoration-2 underline-offset-2 hover:no-underline;
}

.active {
  @apply inline-flex items-center font-medium text-indigo-500 
  underline decoration-indigo-600 decoration-2 underline-offset-2;
}

.header {
  @apply rounded-md px-2 py-10 text-center;
}

.footer {
  @apply w-full bg-zinc-800 p-2 text-center;
}

/* Todo styling */
@layer components {
  .todo_list__header {
    @apply flex flex-wrap justify-between gap-6 border-b border-zinc-700/50 p-3 transition first:hover:rounded-t-md last:hover:rounded-b-md;
  }
  .todo_list__container {
    @apply mt-5 mb-20 list-none rounded-md;
  }
  .todo_item {
    @apply flex justify-between border-b border-zinc-700/50 p-3  hover:bg-zinc-700 gap-2;
  }
  .todo_item__child {
    @apply flex items-center gap-3;
  }
  .todo_item--empty {
    @apply flex list-none justify-center border-b border-zinc-700/50 p-3 
    last:border-none first:hover:rounded-t-md last:hover:rounded-b-md;
  }

  .todo_search {
    @apply w-full rounded-md border-2 border-transparent bg-zinc-800 py-3 px-5 text-lg 
  outline-none transition hover:border-indigo-800 focus:border-indigo-600 focus:shadow-2xl 
  focus:shadow-indigo-500/50 focus:transition;
  }
}

/* React select styling */
@layer components {
  .rs-container {
    @apply ml-auto w-48;
  }
  .rs-container .rs__control {
    @apply border-2 border-zinc-800 bg-zinc-800 hover:border-indigo-800;
  }

  .rs-container .rs__control--is-focused {
    @apply border-indigo-600  shadow-none hover:border-indigo-600;
  }

  .rs-container .rs__menu {
    @apply border-2  border-zinc-600 bg-zinc-700;
  }

  .rs-container .rs__option {
    @apply bg-zinc-700 text-zinc-200 hover:bg-zinc-600;
  }

  .rs-container .rs__indicator-separator {
    @apply bg-zinc-600 hover:text-zinc-200;
  }

  .rs-container .rs__dropdown-indicator {
    @apply hover:text-zinc-200;
  }

  .rs-container .rs__input-container,
  .rs-container .rs__placeholder,
  .rs-container .rs__single-value {
    @apply text-zinc-200;
  }
}

/* Toastify styling */
:root {
  --toastify-color-dark: #27272a;
}
